<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>API Testing</title>
  <script type="text/javascript" src="angularmin.js"></script>
  <script type="text/javascript" src="ngServices.js"></script>
  <script type="text/javascript" src="uiDirectives.js"></script>
</head>
<body>

<!--START GCI2013-app and controller scope-->
<div ng-app="services" id="ng-app">

	<div ng-controller="testCtrl" style="">
	  <p ng-repeat="i in [1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0] track by $index">{{i}}</p>
	  <div style="width:100%;height:100px">
	  	<div metro-menu metros="aa.metros"></div>
	  </div>
	  	  <p ng-repeat="i in [1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0] track by $index">{{i}}</p>
	</div>

</div>

</body>
</html>